<div class="wrapper">
	<footer>
		© 2023 - One Bright Light. All Rights Reserved.
	</footer>
</div>

<style>
	.wrapper {
		margin-top: 3rem;
	}
	@media (min-width: 768px) {
		.wrapper {
			margin-top: 5rem;
		}
	}
	footer {
		border-top: 1px solid var(--color-line-S);
		padding-top: 1rem;
		font-size: .75rem;
		text-align: center;
		color: var(--color-line-L);
		margin: 1rem 0;
	}
</style>